.logo{
    border:2px solid blueviolet;
    border-radius: 150px; 
    width: 300px;
    height: 210px;
    margin-top:1px ;
}

.headingb{
    width:620px;
    height: 210px;

    background-color    :#0000da;

    /* font-family: Quicksand-BoldItalic; */
}

#stroke1{
    margin-left: 121px;
    margin-bottom: 179px;
}


#stroke2{
    margin-left: 328px;
    margin-top: 178px;
}
.headingm{
    font-size: 59px;
    font-weight: bolder;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: hussar;
    margin-top: -186px;
    word-spacing: 20px;
    letter-spacing: 6px;
    padding: -1px;
    border-radius:20px ;
}

.border{
    width: 515px;
    height: 145px;
    margin-left: 52px;
    box-sizing: border-box;
    border: 5px solid white;
    /* border: 1px solid white; */
}

#quoteok{
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: hussar;
    margin-top: -42px;
    margin-left: -130px;
    word-spacing: 2px;
}
@font-face {
    src: url(../fonts/BalsamiqSans-Regular.ttf);
    font-family: hussar1;
}



.navi{
    width: 220px;
    height:35px;
    background-color    : #0000DA;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;
    margin-top: -1px;
    font-family: hussar;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    border-width: 2px 2px 1px;
    border-style: solid;
    border-color: blue;
    cursor: pointer;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    border-radius: 20px;
}


.navi a{
    text-decoration: none;
    color: white;
}

.navi:hover{
    background-color: yellow;
    transition: 0.5s ease;
}
.navi a:hover{
    color: blue;
}  



#history{
    width: 938px;
    height: 913px;
    border: 1px solid blue;
    margin-left: 10px;
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.aboutheading{
    width: 938px;
    height: 30px;
    margin-top: 32px;
    margin-left: -10px;
    background-color: blue;
    text-align: center;
    color: white;
    font-family: hussar;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}


footer{
    background-color: #0000da;
    color: white;
    margin-left: 10px;
    width: 940px;
    height: 184px;
    margin-top: 0px;
}

footer a{
    color: white;
    text-decoration: none;
}
 footer a:hover{
     color: yellow;
 }
#quickh{
    font-family: hussar;
    font-size: 20px;
    margin-left:5px ;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#hadcm{
    margin-left: -14px;
    margin-top: -14px;
    text-transform: capitalize;
    font-family: hussar;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 22px;
}

.addressw{
    margin-left: 28px ;
}
#addressm{
    text-align: center;
    width: 440px;
    font-family: hussar;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#contentm{
    margin-left:50px;
    font-family: hussar;
    font-size: 16px;
    
}

#kedarnathm{
    font-family: hussar;
    font-size: 14px;
    margin-left: -112px;
    letter-spacing: 1px;
    word-spacing: 1px;  
}
#copym{
    text-align: center;
    margin-top: -31px;
    font-family: hussar;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;    
}
.followw{
    margin-left: -33px;
}
#followh{
    margin-left: 73px;
    font-family: hussar;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#fiytm{
    margin-left: 52px;
    margin-top: -14px;
    font-family: hussar;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 22px;
}
@font-face {
    src: url(../fonts/BalsamiqSans-Regular.ttf);
    font-family: hussar;
}
.historyedit1{
    width: 938px;
    height: 660px;
    /* margin-top: 20px; */
    margin-left: -10px;
    background-color: blue;  
    
    /* float: left; */
}

#historyp2{
    color: white;
    font-size: 18px;
    text-align: justify;
    padding: 25px 10px 0px;
    font-family: hussar;
    margin-top: -37px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

#historyp1{
    color: white;
    font-size: 18px;
    text-align: justify;
    padding: 10px 10px 0px;
    font-family: hussar;
    margin-top: 20px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}
.historyimg{
    width:250px; 
    height:200px;
    float:right;
    margin-top: -8px;
    margin-right:10px ;
    margin-left: 10px;
}
.diff{
    width:290px; 
    height:202px;
    float:left;
    margin-top: 16px;
    margin-right:10px ;
    margin-left: 10px;
}

p{
    text-indent: 80px;
}

