#ponyhover:hover{
    transform: scale(1.05);
    transition:  1s;
}

#helihover:hover{
    transform: scale(1.08);
    transition:  1s;
}

#bushover:hover{
    transform: scale(1.05);
    transition:  1s;
}

.logo{
    border:2px solid blueviolet;
    border-radius: 150px;
    margin-top:1px ;
    /* box-shadow: 11px 6px 3px gainsboro; */
}

.headingb{
    width:620px;
    height: 210px;
    /* margin-left: -2px; */
    background-color    :#0000da;
    /* font-family: Quicksand-BoldItalic; */
    /* border-radius:20px ; */
}

#stroke1{
    margin-left: 121px;
    margin-bottom: 179px;
}


#stroke2{
    margin-left: 328px;
    margin-top: 178px;
}
.headingm{
    font-size: 59px;
    font-weight: bolder;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: hussar;
    margin-top: -186px;
    word-spacing: 20px;
    letter-spacing: 6px;
    padding: -1px;
    border-radius:20px ;
} 

.border{
    width: 515px;
    height: 145px;
    margin-left: 52px;
    box-sizing: border-box;
    border: 5px solid white;
    /* border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; */

}

#quoteok{
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: hussar;
    margin-top: -42px;
    margin-left: -130px;
    word-spacing: 2px;
}
@font-face {
    src: url(../fonts/BalsamiqSans-Regular.ttf);
    font-family: hussar;
}

.navi{
    width: 220px;
    height:35px;
    background-color    : #0000DA;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;
    margin-top: -1px;
    font-family: hussar;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    border-width: 2px 2px 0.5px;
    border-style: solid;
    border-color: blue;
    cursor: pointer;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    border-radius: 20px;
}

.navi a {
    text-decoration: none;
    color: white;
}

.navi:hover{
    background-color: yellow;
    transition: 0.5s ease-in-out;
    color: white;
}

/* .navi:hover{
    background-color: yellow;
} */

 /* a{
    text-decoration: none;
    color: white;
}
*/
 .navi a:hover{
    color: blue;
} 

#bannerw{
    width: 938px;
    height: 985px;
    border: 1px solid blue;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 20px;
}

.banner{
    margin-left: -10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.travellingheading{
    width: 940px;
    height: 30px;
    margin-top: -675px;
    margin-left: 10px;
    background-color: #0000da;
    color: white;
    text-align: center;
    font-family: hussar;
    font-size:22px;
    padding-top: 3px ;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    border-radius: 20px;
}

.services1{
    /* float:left; */
    background-color: #0000da;
    color: white;
    font-family: hussar;
    font-size: 14px;
    /* text-align: center; */
    margin-top: -14px;
    width:60px;
    height: 230px;
    margin-right: -10px;
    padding:2px 6.5px;
    letter-spacing: 2px;
    word-spacing: 1px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.services2{
    /* float:left; */
    background-color: #0000da;
    color: white;
    font-family: hussar;
    font-size: 14px;
    /* text-align: center; */
    margin-top: -14px;
    width:75px;
    height: 230px;
    padding:2px 6.5px;
    margin-right: -10px;
    letter-spacing: 2px;
    word-spacing: 1px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.services3{
    /* float:left; */
    background-color: #0000da;
    color: white;
    font-family: hussar;
    font-size: 14px;
    /* text-align: center; */
    margin-top: -14px;
    width:75px;
    height: 230px;
    padding:2px 6.5px;
    letter-spacing: 2px;
    word-spacing: 1px;
    /* border-radius: 20px; */
    margin-right: -10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.imgmargin{
    margin-top: -12px;
    border-radius: 10px;
}

.marginservices{
    margin-top: 2px;
    /* margin-left: 10px; */
    text-align: center;
}
#videoh{
    width: 470px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #0000da;
    font-family: hussar;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
    margin-left: -1px;
    letter-spacing: 2px;
    word-spacing: 1px;
    border-radius: 20px;
}

#maph{
    width: 470px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #0000da;
    font-family: hussar;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
    margin-top: -px;
    letter-spacing: 2px;
    word-spacing: 1px;
    border-radius: 20px;
    margin-left: -1px;
}

.video{
    width: 460px;
    height: 334px;
    margin-top: 10px;
    margin-left: 11px;
    /* box-shadow: 11px 6px 3px gainsboro; */
}


.map{
    width: 460px;
    height: 334px;
     margin-top: -334px;
     margin-left: 480px;
     /* box-shadow: -11px 6px 3px gainsboro; */


}


footer{
    background-color: #0000da;
    color: white;
    margin-left: 10px;
    width: 940px;
    height: 184px;
    margin-top: 30px;
}

footer a{
    color: white;
    text-decoration: none;
}
 footer a:hover{
     color: yellow;
 }
#quickh{
    font-family: hussar;
    font-size: 20px;
    margin-left:5px ;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#hadcm{
    margin-left: -14px;
    margin-top: -14px;
    text-transform: capitalize;
    font-family: hussar;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 22px;
}

.addressw{
    margin-left: 28px ;
}
#addressm{
    text-align: center;
    width: 440px;
    font-family: hussar;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#contentm{
    margin-left: 101px;
    font-family: hussar;
    font-size: 16px;

}

#kedarnathm{
    font-family: hussar;
    font-size: 14px;
    margin-left: -32px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#copym{
    text-align: center;
    margin-top: -31px;
    font-family: hussar;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.followw{
    margin-left: -33px;
}
#followh{
    margin-left: 73px;
    font-family: hussar;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#fiytm{
    margin-left: 52px;
    margin-top: -14px;
    font-family: hussar;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 22px;
}